<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WeatherServiceClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WeatherServiceClient.Properties.Settings>
            <setting name="WeatherServiceClient_net_webservicex_www_GlobalWeather"
                serializeAs="String">
                <value>http://www.webservicex.net/globalweather.asmx</value>
            </setting>
        </WeatherServiceClient.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="GlobalWeatherSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="GlobalWeatherSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://www.webservicex.net/globalweather.asmx"
                binding="basicHttpBinding" bindingConfiguration="GlobalWeatherSoap"
                contract="ServiceReference1.GlobalWeatherSoap" name="GlobalWeatherSoap" />
            <endpoint address="http://www.webservicex.net/globalweather.asmx"
                binding="customBinding" bindingConfiguration="GlobalWeatherSoap12"
                contract="ServiceReference1.GlobalWeatherSoap" name="GlobalWeatherSoap12" />
        </client>
    </system.serviceModel>
</configuration>